---
layout: default
---

<div class="uk-section uk-section-default">
    <div class="uk-container uk-container-large">
        <div uk-grid>
            <!-- Central -->
            <div class="uk-width-3-4@m">
                {{ content }}
            </div>
            <!-- Right -->
            <div class="uk-width-1-4@m uk-visible@s">
                <h4>Posts</h4>
                <ul id="posts">
                    {% for post in site.posts limit: 5 %}
                    <li>
                        <a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <hr/>
                <h4>Projects</h4>
                <ul id="projects">
                    {% for project in site.projects limit: 5 %}
                    <li>
                        <a href="{{ project.url | prepend: site.url }}">{{ project.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <hr/>
                <h4>Publications</h4>
                <ul id="publications">
                    {% for publication in site.publications limit: 5 %}
                    <li>
                        <a href="{{ publication.url | prepend: site.url }}" title="{{ publication.title }}">{{ publication.doi }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% include footer.liquid %}
